[submodule "lectures/Semana01"]
	path = lectures/Semana01
	url = https://git.overleaf.com/5c734a05bc4fc01eaeab31af
[submodule "lectures/Semana02"]
	path = lectures/Semana02
	url = https://git.overleaf.com/5c7711ea3c27676f7bfb8fca
[submodule "lectures/Semana03"]
	path = lectures/Semana03
	url = https://git.overleaf.com/5c7712803c27676f7bfb8fef
[submodule "lectures/Semana06"]
	path = lectures/Semana06
	url = https://git.overleaf.com/5bad3aedb4baa75c067efebf
[submodule "lectures/Semana07"]
	path = lectures/Semana07
	url = https://git.overleaf.com/5cb4a7cf319dab2202225680
[submodule "lectures/Semana08"]
	path = lectures/Semana08
	url = https://git.overleaf.com/5cbf39a6d704aa0c43782e8d
